extends layout

block pageTitle
    h1 You are connected to #{hostinfo.hostname}
    
block pageContent
    .well
        h2 Hostname: #{hostinfo.hostname}
    .well
        h2 Host Interfaces
            h3
                ul
                    each addresses, interface in hostinfo.interfaces
                        li=interface
                        ul
                            each address in addresses
                                li=address
    .well
        h2 IP Addresses associated with #{hostinfo.hostname}
            h3
                ul
                    each address in hostinfo.hostname_ips
                        li=address